---
interface Props {
	title: string;
	description?: string;
	url?: string;
	pageImage?: string;
}

const { 
	title = "Barbieri Notes",
	description = "Francesco Barbieri's personal website.",
	url = "https://barbierinotes.com/",
	pageImage = "https://www.barbierinotes.com/img/ogImage.png"
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="author" content="Francesco Barbieri">
		<meta name="keywords" content="Francesco Barbieri, Barbieri Notes, Tech, Software Engineer">

		<link rel="alternate" type="application/rss+xml" title={title} href={`${Astro.site}rss.xml`}/>

		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content={url}>
		<meta property="og:site_name" content={title}>
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta property="og:image" content={pageImage}>

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@realBarbieri">
		<meta name="twitter:creator" content="@realBarbieri">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={pageImage}>

		<link rel="icon" href="/img/favicon-light.png" media="(prefers-color-scheme: light)"/>
		<link rel="icon" href="/img/favicon-dark.png" media="(prefers-color-scheme: dark)"/>

		<link rel="sitemap" href="/sitemap-index.xml" />

		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<div class="mx-auto my-12 max-w-[692px] px-6 antialiased sm:my-32 md:my-16">
			<header class="mb-32 flex flex-col items-start">
				<a
					class="text-medium inline-block font-medium no-underline"
					href="/">
					Barbieri Notes</a>
				<span class="text-medium font-medium leading-none text-gray-1100">
					Francesco Barbieri's Blog
				</span>
			</header>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	}

	pre {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		overflow: auto;
		border-radius: 0.75rem;
		background-color: #f3f4f6;
		padding: 1rem;
		font-size: 0.75rem;
		line-height: 1rem;
	}
</style>
